/* apollo.css created by David Schulman 1/18/18 */

/* GLOBAL */

html * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #ffffff;
	font-family: 'Helvetica', 'Arial', sans-serif;
	color: #383838;
	letter-spacing: -.5px;
	font-weight: normal;
}

body {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
}

p {
	margin-bottom: 1rem;
	font-size: 1rem;
	line-height: 1.5rem;
}

a {
	text-decoration: none;
	border-bottom: solid 1px #595959;
	color: #595959;
	font-size: 1rem;
	line-height: 1.5rem;
	-webkit-transition: all .5s ease-in-out 0s;
	-moz-transition: all .5s ease-in-out 0s;
	transition: all .5s ease-in-out 0s;
}

a:active,
a:hover,
a:focus {
	text-decoration: none;
	border-bottom: solid 1px #757575;
	color: #757575;
}

ul,
ol { 
	list-style: none;
	margin: 1rem 0 1rem 1rem;
}

ul li > ul {
	margin: 0;	
}
	
h1 {
	font-size: 2.5rem;
	line-height: 3rem;
	letter-spacing: -1px;
	font-weight: bold;
	margin-bottom: 1rem;
}

h2 {
	font-size: 2rem;
	line-height: 2.5rem;
	letter-spacing: -1px;
	font-weight: bold;
	margin-bottom: 1rem;
}

h3 {
	font-size: 1.5rem;
	line-height: 2rem;
	letter-spacing: -1px;
 	font-weight: bold;
}

em {
	display: block;
}

blockquote {
	margin: 0 0 20px 40px;
	padding: 0 0 0 10px;
	border-left: 2px solid #383838;
}

code {
	background-color: #ebebeb;
}

pre.highlight {
	background-color: #ebebeb;
	padding: 0 20px;
	font-family: monospace, sans-serif;
}

.highlighter-rouge {
	background-color: #ebebeb;
	border-left: 1px solid #555555;
	margin: 0 0 20px 20px;
}

.clear {
	clear: both;
}

/* HEADER */

header {
	letter-spacing: 1px;
}

header nav {
	text-transform: lowercase;
}

header a {
	font-size: 1.5rem;
	line-height: 1.9rem;
	color: #595959;
	border: none;
}

header a:hover,
header a:active,
header a:focus {
	font-size: 1.5rem;
	line-height: 1.9rem;
	color: #757575;
	border: none;
}

header a.logo {
	color: #000000;
	font-size: 1.7rem;
}

header a:hover.logo,
header a:active.logo,
header a:focus.logo {
	color: #595959;
	font-size: 1.7rem;
}

header ul.social {
	margin: 10px 0;
}

header ul.social li {
	display: inline;
}

/* CONTENT */

.content {
	margin: 0 0 2rem 0;;
}

.flexi-row {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.flexi-row .three {
    min-width: 180px;
    margin: 0px 20px;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

/* POST FEEDS */

ul.posts {
	margin: 0 0 1rem 0;
}

ul.posts li a {
	font-weight: bold;
}

ul.posts li span.date {
	display: block;
}

ul.posts li p {
	margin: 1rem 0;
}

ul.posts li.gear {
	list-style: disc;
	margin: 0 0 0 2rem;
}

ul.posts li.gear a {
	font-weight: normal;
}

/* POST */

.post ul li {
	list-style: disc;
	margin: 0 0 0 1.5rem;
}
	
.post ul li > ul li {
	list-style: circle;
}

.post ol li {
	list-style-type: decimal-leading-zero;
	margin: 0 0 0 1.5rem;
	font-weight: bold;
}

.post ul li p,
.post ol li p {
	margin: 0;
}

.post-meta {
	padding-bottom: 1rem;
}

.post-meta span {
	display: inline-block;
	margin: 0 10px 3px 0;
	text-transform: capitalize;
}

.post-meta span.tags {
	display: block;
}

.post em.update {
	margin: 1rem 0 0 0;
}

/* PHOTO STYLES */

.content ul.photo-gallery {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

ul.photo-gallery li {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    position: relative;
    overflow: hidden;
    margin: 5px;
    max-width: 520px;
    min-width: 320px;
    max-height: 325px;
    min-height: 200px;
    width: 100%;
    height: auto;
    background-size: cover;
}

ul.photo-gallery li a {
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
    background: none;
    border-bottom: none;
    display: block;
}

ul.photo-gallery li a:hover,
ul.photo-gallery li a:focus {
    overflow: hidden;
    background: none;
    border-bottom: none;
}

ul.photo-gallery li h2 {
	background: none;
	color: #ffffff;
	padding: 20px;
	font-weight: normal;
	line-height: 2rem;
	align-self: flex-end;
}

/* ul.photo-gallery li a .gallery-meta {
    position: absolute;
    display: flex;
    width: 360px;
    height: 280px;
    top: 46%;
    left: 58%;
    transform: translate(-50%, -50%);
} */

.gallery-meta span {
	display: inline-block;
	margin: 0 10px 3px 0;
	text-transform: capitalize;
}

/* GEAR */

.content.gear img.hero {
    max-height: 360px;
    margin: 0 auto 1rem auto;
    display: block;
    text-align: center;
}

/* MISC CONTENT */

ul.bookmarks {
    list-style: none;
    margin: 0 auto 30px auto;
}

ul.bookmarks li i {
	font-size: 1rem;
}

img.favicon {
    width: 16px;
    height: 16px;
    margin: 0;
    vertical-align: middle;
}

/* FOOTER */

footer {
    border-top: 1px solid #bbbbbb;
}

footer p {
    padding: 10px 0;
}

/* BREAKPOINTS */
@media only screen and (min-width: 1024px) {
    header {
        position: fixed;
        width: 230px;
        padding: 30px 30px 0 40px;
    }

    header ul {
        margin: 20px 0;
    }

    header ul.global {
        margin: 30px 0 20px 0;
    }
  
    header ul.social li {
        padding-right: 7px;    
    }

    main {
        max-width: 1600px;
        padding: 30px 100px 30px 230px;
    }
        
    ul.posts li span.date {
        float: right;
    }
        
    ul.bookmarks {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
        
    ul.bookmarks li a {
        font-size: .875rem;
        line-height: 1.3rem;
    }
}

@media only screen and (max-width: 1023px) {
    header {
        padding: 20px 20px 0 20px;
    }

    header .logo {
        display: none;
    }

    header ul li {
        display: inline;
    }
  
    header ul.global {
        margin: 10px 0 20px 0px;
    }

    header ul.global li {
        padding-right: 20px;
    }
    
    header ul.social {
        text-align: right;
    }
    
    header ul.social li {
        padding-left: 7px;
    }
    
    main {
        padding: 20px;
    }
  
    ul.bookmarks {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
        
    ul.bookmarks li a {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}
