/* apollo.css created by David Schulman 1/18/18 */
/* GLOBALS */
   * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
   }

   body {
      font-family: 'Helvetica', 'Arial', sans-serif;
      color: #202020;
   }

   span {
      display: block;
   }

   p {
      font-size: 1rem;
      line-height: 1.5rem;
      letter-spacing: -.5px;
      padding-bottom: 20px;
   }

   a {
      text-decoration: none;
      border-bottom: solid 1px #999999;
      color: #999999;
   }

   a:hover,
   a:focus {
      text-decoration: none;
      border-bottom: solid 1px #202020;
      color: #202020;
   }

    ul { 
        list-style: none;
    }

    li { 
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: -.5px;
    }

    h1 {
        font-size: 2.5rem;
        line-height: 3rem;
        letter-spacing: -1px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 2rem;
        line-height: 2.5rem;
        letter-spacing: -1px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    h3 {
        font-size: 1.5rem;
        line-height: 2rem;
        letter-spacing: -1px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    h4 {}
    h5 {}
    h6 {}

    code {
        font-size: .9rem;
        font-style: italic;
    }

    img {
        max-width: 100%;
        height: auto;
    }

/* BREAKPOINTS */
@media only screen and (min-width: 1024px) {
    nav {
        position: fixed;
        width: 200px;
        padding: 30px 30px 0 40px;
    }

    nav ul {
        margin: 20px 0;
    }

    ul.global {
        margin: 10px 0 40px 0px;
    }
  
    ul.social li {
        padding-right: 7px;    
    }

    main {
        max-width: 1600px;
        padding-top: 30px;
        padding-left: 200px;
        padding-right: 100px;
    }
}

@media only screen and (max-width: 1023px) {
    nav {
        padding: 20px 20px 0 20px;
    }

    header .logo {
        display: none;
    }

    header ul li {
        display: inline;
    }
  
    ul.global {
        margin: 10px 0 20px 0px;
    }

    ul.global li {
        padding-right: 20px;
    }
    
    ul.social {
        text-align: right;   
        padding-top: 10px;
    }
    
     ul.social li {
        padding-left: 7px;    
    }
    
    main {
        padding: 20px;
    }
  
    .gallery-meta h2 {
      font-size: 1rem;
      line-height: 1.5rem;
    }
}

/* HEADER STYLES */
    header a.logo {
        font-size: 1.3rem;
        border: none;
        color: #202020;
    }

    nav {
        text-transform: lowercase;
    }

    nav a {
        color: #202020;
        border: none;
    }

    nav a:hover {
        color: #bbbbbb;
        border: none;
    }

    ul.global li {
        font-size: 1.2rem;
        line-height: 1.7rem;
    }

    ul.global li a {
        color: #bbbbbb;
    }

    ul.global li a:hover {
        color: #202020;
    }

    ul.social {
        margin: 10px 0;   
    }

    ul.social li {
      font-size: 1rem;
      line-height: 1.5rem;
      display: inline;
    }

/* PHOTO STYLES */
.content ul.photo-gallery {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
   flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

ul.photo-gallery li {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  position: relative;
  overflow: hidden;
  margin: 0;
  min-width: 300px;
  max-width: 360px;
}

   ul.photo-gallery a {
      display: block;
      width: auto;
      border-bottom: none;
      color: #ffffff;
      -moz-transition: all 1s;
      -webkit-transition: all 1s;
      transition: all 1s;
   }

   ul.photo-gallery a:hover,
   ul.photo-gallery a:focus {
      border-bottom: none;
      color: #ffffff;
       -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
     overflow: hidden;
   }

ul.photo-gallery img {
  min-width: 300px;
  max-width: 360px;
  margin: 2px;
}

   ul.photo-gallery img.thumbnail {
     /* width: auto; 
     height: 330px; */
     -webkit-filter: contrast(80%);
     filter: contrast(80%);
     opacity: 1;
   }

  ul.photo-gallery li a .gallery-meta {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .gallery-meta h2 {
    font-weight: normal;
    margin-bottom: 20px;
  }

   .gallery-meta span {
       display: inline-block;
       margin: 0 10px 3px 0;
       text-transform: capitalize;
   }



/* POST STYLES */
   .content {
       margin-bottom: 40px;
   }

   .content ul {
      list-style: disc;
      margin: 0 0 30px 60px;
   }

   .content li {
       margin: 10px 0;   
   }

   .post-meta {
       padding-bottom: 40px;
   }

   .post-meta span {
     display: inline-block;
       margin: 0 10px 3px 0;
       text-transform: capitalize;
   }

   .post-meta span.tags {
     display: block;
   }

   .highlighter-rouge {
       background-color: #eee;
       border-left: 1px solid #555;
       margin: 0 0 20px 20px;
   }

   pre.highlight {
       padding: 0 20px;
   }

   ul.posts { 
       margin: 20px auto 60px; 
       font-size: 1.5em;
       list-style: disc;
   }

   ul.posts li {
       list-style: none;
   }

/* FOOTER STYLES */

footer {
    border-top: 1px solid #bbbbbb;
}

footer p {
    padding: 10px 0;
}
