/* apollo.css created by David Schulman 1/18/18 */
/* GLOBAL */
html * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #ffffff;
	font-family: 'Helvetica', 'Arial', sans-serif;
	color: #383838;
	letter-spacing: -.5px;
	font-weight: normal;
}

body {
	width: 100%;
}

p {
	margin-bottom: 20px;
	font-size: 1rem;
	line-height: 1.5rem;
}

a {
	text-decoration: none;
	border-bottom: solid 1px #383838;
	color: #383838;
}

a:active,
a:hover,
a:focus {
	text-decoration: none;
	border-bottom: solid 1px #202020;
	color: #202020;
}

ul { 
	list-style: none;
	margin-bottom: 20px;
}

li {
	margin-bottom: 5px;	
}

h1 {
	font-size: 2.5rem;
	line-height: 3rem;
	letter-spacing: -1px;
	font-weight: bold;
	margin-bottom: 20px;
}

h2 {
	font-size: 2rem;
	line-height: 2.5rem;
	letter-spacing: -1px;
	font-weight: bold;
	margin-bottom: 10px;
}

h3 {
	font-size: 1.5rem;
	line-height: 2rem;
	letter-spacing: -1px;
 	font-weight: bold;
	margin-bottom: 10px;
}

h4 {}
h5 {}
h6 {}

blockquote {
	margin: 0 0 20px 40px;
	padding: 0 0 0 10px;
	border-left: 2px solid #383838;
}

code {
	background-color: #ebebeb;
}

pre.highlight {
	background-color: #ebebeb;
	padding: 0 20px;
	font-family: monospace, sans-serif;
}

.highlighter-rouge {
	background-color: #ebebeb;
	border-left: 1px solid #555555;
	margin: 0 0 20px 20px;
}

img {
	max-width: 100%;
	height: auto;
}

/* BREAKPOINTS */
@media only screen and (min-width: 1024px) {
    header {
        position: fixed;
        width: 220px;
        padding: 30px 30px 0 40px;
    }

    header ul {
        margin: 20px 0;
    }

    header ul.global {
        margin: 10px 0 40px 0px;
    }
  
    header ul.social li {
        padding-right: 7px;    
    }

    main {
		max-width: 1600px;
		padding: 30px 100px 30px 220px;
    }
  
    ul.posts li span.date {
		float: right;
    }
	
	ul.bookmarks {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
	
	ul.bookmarks li {
		font-size: .875rem;
	}
}

@media only screen and (max-width: 1023px) {
    header {
        padding: 20px 20px 0 20px;
    }

    header .logo {
        display: none;
    }

    header ul li {
        display: inline;
    }
  
    header ul.global {
        margin: 10px 0 20px 0px;
    }

    header ul.global li {
        padding-right: 20px;
    }
    
    header ul.social {
        text-align: right;
    }
    
    header ul.social li {
        padding-left: 7px;
    }
    
    main {
        padding: 20px;
    }
  
    ul.bookmarks {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
}

/* HEADER STYLES */
header {
	letter-spacing: 1px;
}

header nav {
	text-transform: lowercase;
}

header a {
	font-size: 1.3rem;
	line-height: 1.9rem;
	color: #595959;
	border: none;
}

header a:hover,
header a:active,
header a:focus {
	font-size: 1.3rem;
	color: #222222;
	border: none;
}

header a.logo {
	font-size: 1.5rem;
}

header a:hover.logo,
header a:active.logo,
header a:focus.logo {
	font-size: 1.5rem;
}

header ul.social {
	margin: 10px 0;
}

header ul.social li {
	font-size: 1.2rem;
	line-height: 1.7rem;
	display: inline;
}

/* CONTENT */
.content {
	margin-bottom: 40px;
}

.content img {
	margin-bottom: 20px;
}

.three-column-list {
	width: 32%;
	display: inline;
	line-height: 1.5rem;
}

/* POST */

.post ul {
	list-style: disc;
	margin: 20px 0 20px 50px;
}

.post ul li p {
	margin: 0;
}

.post-meta {
	padding-bottom: 20px;
}

.post-meta span {
	display: inline-block;
	margin: 0 10px 3px 0;
	text-transform: capitalize;
}

.post-meta span.tags {
	display: block;
}


/* PHOTO STYLES */
.content ul.photo-gallery {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
   flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

ul.photo-gallery li {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  position: relative;
  overflow: hidden;
  margin: 2px;
  min-width: 300px;
  max-width: 280px;
  max-width: 360px;
}

   ul.photo-gallery a {
     display: block;
     width: 360px;
     height: 280px;
     border-bottom: none;
     color: #ffffff;
     -moz-transition: all 1s;
     -webkit-transition: all 1s;
     transition: all 1s;
   }

   ul.photo-gallery a:hover,
   ul.photo-gallery a:focus {
      border-bottom: none;
      color: #ffffff;
      /* -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1); */
     overflow: hidden;
   }

ul.photo-gallery img {
  vertical-align: top;
  width: 360px;
  height: auto;
}

  ul.photo-gallery li a .gallery-meta {
    position: absolute;
    display: flex;
    width: 360px;
    height: 280px;
    top: 46%;
    left: 58%;
    transform: translate(-50%, -50%);
  }

.gallery-meta h2 {
	display: block;
	background-color: none;
	color: #ffffff;
	font-weight: normal;
	line-height: 2rem;
	align-self: flex-end;
}

.gallery-meta span {
	display: inline-block;
	margin: 0 10px 3px 0;
	text-transform: capitalize;
}

/* GEAR STYLES */

.content.gear img {
  max-height: 360px;
}

/* MISC CONTENT STYLES */

ul.bookmarks {
  list-style: none;
  margin: 0 auto 30px auto;
}

  ul.bookmarks li i {
  font-size: 1rem;
  }

img.favicon {
  width: 16px;
  height: 16px;
  margin: 0;
  vertical-align: middle;
}

/* FOOTER STYLES */

footer {
    border-top: 1px solid #bbbbbb;
}

footer p {
    padding: 10px 0;
}
