# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
title: dmschulman.com
title_separator: "|"
description: "My great website"
url: "https://dmschulman.com" # the base hostname & protocol for your site
baseurl: "" # the subpath of your site, e.g. "/blog"
repository: "dmschulman/dmschulman.github.io"
locale: "en-US"
teaser: # filename of teaser fallback teaser image placed in /images/, .e.g. "500x300.png"
breadcrumbs: false # true, false (default)
read_more: "enabled" # if enabled, adds "Read more" links to excerpts
paginate: "10"
paginate_path: "/blog/:num/"

name: "David Schulman"
email: "david@dmschulman.com"

#analytics:
 # provider: "google-universal" # false (default), "google", "google-universal", "custom"
  #google:
   # tracking_id:

# Social media
twitter:
  username: dmschulman
facebook:
  username: dmschulman
og_image: #Open Graph/Twitter default site image
social:
  type: "Person"
  name: "David M. Schulman"
  links: #An array of links to social media profiles

# Collections
collections:
  photos:
    output: true
    output_ext: .html
    title: "Photos"
  projects:
    output: true
    output_ext: .html
    title: "Projects"
  gear:
    output: true
    output_ext: .html
    title: "Gear"

# Defaults
defaults:
  - scope:
      path: "" # an empty string here means all files in the project
      type: "posts"
    values:
      layout: "post"
      author: "David Schulman"
      permalink: /blog/:year/:slug.html  
  - scope:
      path: ""
      type: "gear"
    values:
      layout: "gear"
      permalink: /studio/:collection/:name.html
      
# Build settings
markdown: kramdown
#theme: apollo
plugins:
  - jekyll-feed
  - jekyll-seo-tag
gems:
  - jekyll-sitemap
exclude:
  - Gemfile
  - Gemfile.lock
