	<ul>
					<li><a href="mailto:dmschulman@gmail.com" title="Email" target="_blank">Email</a></li>
					<li><a href="https://github.com/dmschulman" title="Github" target="_blank">Github</a></li>
					<li><a href="https://twitter.com/dmschulman" title="Twitter" target="_blank">Twitter</a></li>
					<li><a href="https://www.last.fm/user/dmschulman" title="last.fm" target="_blank">last.fm</a></li>
					<li><a href="https://www.linkedin.com/in/dmschulman" title="LinkedIn" target="_blank">LinkedIn</a></li>
				</ul>
