<a class="logo" href="/index.html" title="dmschulman">dmschulman</a>
<p class="intro">The sometimes blog containing words, works, and wonders by David M. Schulman</p>
<ul class="global">
	<li><a href="/studio/index.html" title="Studio">Studio</a></li>
	<li><a href="/photos/index.html" title="Photos">Photos</a></li>
	<li><a href="/projects/index.html" title="Projects">Projects</a></li>
	<li><a href="/about/index.html" title="About">About</a></li>
	<li><a href="/blog/index.html" title="Blog">Blog</a></li>
</ul>
