---
layout: apollo
title: "Blog"
description: "'blog' /bläɡ/ noun, a regularly updated website or web page, typically one run by an individual or small group, that is written in an informal or conversational style."
---

<ul class="posts">
{% for post in paginator.posts %}
    <li>
	<a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
	<span class="date">{{ post.date | date: "%B %d, %Y" }}</span>
	<p class="excerpt">{{ post.excerpt | strip_html | truncatewords:75 }}</p>
    </li>
{% endfor %}

{% if paginator.total_pages > 1 %}
<div class="pagination">
	{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
	{% else %}
		<span>&laquo; Prev</span>
	{% endif %}

	{% for page in (1..paginator.total_pages) %}
		{% if page == paginator.page %}
			<span class="webjeda">{{ page }}</span>
		{% elsif page == 1 %}
			<a href="/">{{ page }}</a>
		{% else %}
			<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
		{% endif %}
	{% endfor %}

{% if paginator.next_page %}
	<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
{% else %}
	<span>Next &raquo;</span>
{% endif %}
</div>
{% endif %}
