---
layout: apollo
title: "Blog"
description: "'blog' /bläɡ/ noun, a regularly updated website or web page, typically one run by an individual or small group, that is written in an informal or conversational style."
---

<ul class="posts">
  {% assign startdate = '2022-01-01' | date: '%s' %}
  {% assign mydate = 'now' | date: '%s' %}
  {% if mydate > startdate %}
    {% for post in site.posts limit: 20 %}
      <li>
        <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
        <span class="date">{{ post.date | date: "%B %d, %Y" }}</span>
        <p class="excerpt">{{ post.excerpt | strip_html | truncatewords:75 }}</p>
      </li>
    {% endfor %}
  {% endif %}
</ul>

<p>Or if you'd prefer to see it all, view the <a href="archive.html" title="Blog Archive">blog archive</a>.</p>
