<!DOCTYPE html>
<html lang="en">
	<head>
		{% include head-code.html %}
	</head>
	<body>
		<nav>
			{% include nav.html %}
		</nav>
		<main>
			<div class="content gear">
				<h1>{{ page.title }}</h1>
				<div class="post">
        				<img src="{{ page.image }}" alt="{{ page.title }}">
					<p>{{ page.blurb }}</p>
					<p>{{ content }}</p>
					<h2>Audio Examples</h2>
						<p>{{ page.audio }}</p>
					<h2>Tips and Tricks</h2>
						<p>{{ page.tips }}</p>
					<h2>Documentation</h2>
						<p>{{ page.docs }}</p>
					<h2>Patches and Downloads</h2>
						<p>{{ page.patches }}</p>
					<h2>Modifications</h2>
						<p>{{ page.mods }}</p>
					<h2>Links and Resources</h2>
						<p>{{ page.links }}</p>
					<h2>{{ page.title }} Pictures</h2>
						<p>{{ page.pics }}</p>
					
				</div>
			</div>
			<footer>
					{% include footer.html %}
			</footer>
		</main>
	</body>
</html>
