<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head-code.html %}
  </head>
  <body>
    <nav>
      {% include nav.html %}
    </nav>
    <main>
      <div class="content gear">
        <h1>{{ page.title }}</h1>
        <div class="post">
                <img src="{{ page.image }}" alt="{{ page.title }}">
          <p>{{ page.blurb }}</p>
          <p>{{ content }}</p>
            {% if page.audio != "" %}
              <h2>Audio Examples</h2>
              {{ page.audio }}
            {% endif %}
          {% if page.tips != "" %}
            <h2>Tips and Tricks</h2>
            {{ page.tips }}
          {% endif %}
          {% if page.docs != "" %}
            <h2>Documentation</h2>
            {% if page.manual != "" %}
              <li><a href="{{ page.manual }}" title="{{ page.title }} Owners Manual">{{ page.title }} Owners Manual</a></li>
            {% endif %}
            {% if page.service != "" %}
              <li><a href="{{ page.service }}" title="{{ page.title }} Service Manual">{{ page.title }} Service Manual</a></li>
            {% endif %}
            {{ page.docs }}
          {% endif %}
          {% if page.patches != "" %}
            <h2>Patches and Downloads</h2>
            {{ page.patches }}
          {% endif %}
          {% if page.mods != "" %}
            <h2>Modifications</h2>
            {{ page.mods }}
          {% endif %}
          {% if page.links != "" %}
            <h2>Links and Resources</h2>
            {{ page.links }}
          {% endif %}
          {% if page.pics != "" %}
            <h2>{{ page.title }} Pictures</h2>
            {{ page.pics }}
          {% endif %}
        </div>
      </div>
      <footer>
          {% include footer.html %}
      </footer>
    </main>
  </body>
</html>
