<!DOCTYPE html>
<html lang="en">
	<head>
		{% include head-code.html %}
	</head>
	<body>
		<header>
			<nav>
				{% include nav.html %}
			</nav>
			<span class="hidden-d">
				{% include social.html %}
			</span>
		</header>
		<main>
			<article class="content music">
				<img src="{{ page.image }}" alt="{{ page.title }}" />
				<h1>{{ page.title }}</h1>
				<audio controls src="{{ page.audio }}"> Your browser does not support the <code>audio</code> element.</audio>
				<div class="track-info">
					<span class="notes">{{ page.description }}</span>
					{% if page.tags.size > 0 %}
						<span class="tags">{{ page.tags | sort | join: ", " }}</span>
					{% endif %}
					<span class="date">{{ page.date | date: '%m/%d/%Y' }}</span>
				</div>
			</article>
			<footer>
				{% include footer.html %}
			</footer>
		</main>
	</body>
</html>
