<!DOCTYPE html>
<html lang="en">
	<head>
		{% include head-code.html %}
		<script>
			function lazyLoad() {var myLazyLoad = new LazyLoad({elements_selector: ".lazy"});}
			window.onload = lazyLoad
		</script>
	</head>
	<body>
		<nav>
			{% include nav.html %}
		</nav>
		<main>
			<div class="content">
				<h1>{{ page.title }}</h1>
				<div class="post-meta">
					<span><i aria-hidden class="far fa-calendar-alt" title="Date"></i> 
						{% if page.endDate %}
							{{ page.date | date: "%B %d-" }}{{ page.endDate | date: "%d, %Y" }}
						{% else %}
							{{ page.date | date: "%B %d, %Y" }}
						{% endif %}
					</span>
					<span><i aria-hidden class="fas fa-globe-americas" title="Location"></i> {{ page.geo }}</span>
					<span><i aria-hidden class="far fa-images" title="Size"></i> {{ page.reel }} photos</span>
					<span><i aria-hidden class="fas fa-camera-retro" title="Camera"></i> {{ page.camera }}</span>
					<span class="tags"><i aria-hidden class="fas fa-tags" title="Tags"></i> {{ page.tags | sort | join: ", " }}</span>
				</div>
				<p>{{ page.description }}</p>
				
				<ul class="photo-gallery">
     					{% for photoJSON in site.data.italy-2004.feed.entry %}
          					<li class="photo-mosaic">
							<img class="lazy" data-src="{{ photoJSON.content.src }}" alt="{{ photoJSON.title.$t }}" />
						</li>
     					{% endfor %}
				</ul>

			</div>
			<footer>
					{% include footer.html %}
			</footer>
		</main>
	</body>
</html>
