<!DOCTYPE html>
<html lang="en">
	<head>
		{% include head-code.html %}
	</head>
	<body>
		<nav>
			{% include nav.html %}
		</nav>
		<main>
			<div class="content">
				<h1>{{ photos.title }}</h1>
				<span><i class="fa fa-calendar"></i> {{ page.date | date: "%B %d, %Y" }}</span>
				<span><i class="fa fa-globe"></i> {{ photos.geo }}</span>
				<span><i class="fa fa-camera"></i> {{ photos.camera }}</span>
				<span><i class="fa fa-images"></i> {{ photos.reel }}</span>
				<span><i class="fa fa-tag"></i> {{ photos.tags }}</span>
				<p>{{ photos.description }}</p>
			</div>
			<footer>
					{% include footer.html %}
			</footer>
		</main>
	</body>
</html>
