<!DOCTYPE html>
<html lang="en">
	<head>
		{% include head-code.html %}
	</head>
	<body>
		<div class="wrapper">
			<header>
				<nav>
					{% include nav.html %}
				</nav>
				<span class="hidden-d">
					{% include social.html %}
				</span>
			</header>
			<main>
				<article id="content" class="post">
					<h1>{{ page.title }}</h1>
					<div class="post-meta">
						<span>
							<i aria-hidden class="far fa-calendar-alt" title="Date"></i> {{ page.date | date: '%B %d, %Y' }}
						</span>
						{% if page.tags.size > 0 %}
							<span class="tags">
								<i aria-hidden class="fas fa-tags" title="Tags"></i> {{ page.tags | sort | join: ", " }}
							</span>
						{% endif %}
					</div>
					{{ content }}
					<span class="update">This page was last updated on {{ page.path | prepend: "/" | prepend: site.source | file_date | date: "%B %d, %Y" }}.</span>
				</article>
			</main>
			<footer>
				{% include footer.html %}
			</footer>
		</div>
	</body>
</html>
