<!DOCTYPE html>
<html lang="en">
	<head>
		{% include head-code.html %}
	</head>
	<body>
		<header>
			<nav>
				{% include nav.html %}
			</nav>
			<span class="hidden-d">
				{% include social.html %}
			</span>
		</header>
		<main>
			<article class="content">
				<h1>{{ page.title }}</h1>
				<div class="post-meta">
					<span>
						<i aria-hidden class="far fa-calendar-alt" title="Date"></i> {{ page.date | date: '%B %d, %Y' }}
					</span>
					{% if page.tags.size > 0 %}
						<span class="tags">
							<i aria-hidden class="fas fa-tags" title="Tags"></i> {{ page.tags | sort | join: ", " }}
						</span>
					{% endif %}
				</div>
				<div class="post">
					{{ content }}
					{% if page.updated %}
						<em class="update">This post was last updated {{ page.updated }}.</em>
					{% endif %}
				</div>
			</article>
			<footer>
				<em class="update">This page was last updated {{ page.path | prepend: "/" | prepend: site.source | file_date | date_to_string }}.</em>
				{% include footer.html %}
			</footer>
		</main>
	</body>
</html>
