<!DOCTYPE html>
	<html>
		<head>
		{% include header.html %}
		</head>
		<body>
			<nav>
			{% include nav.html %}
			</nav>
			<h1>{{ page.title }}</h1>
			<p class="meta">Published: {{ page.date | date_to_string }}</p>
			<p class="meta">
				{% if post.tags.size > 0 %}
  				Tag{% if post.tags.size > 1 %}s{% endif %}:
  				{{ post.tags | sort | join: ", " }}
				{% endif %}
			</p>
			<div class="post">
				{{ content }}
			</div>
			<footer>
			{% include footer.html %}
			</footer>
		</body>
	</html>
