<!DOCTYPE html>
<html lang="en">
	<head>
		{% include head-code.html %}
	</head>
	<body>
		<header>
			<nav>
				{% include nav.html %}
			</nav>
			{% include social.html %}
		</header>
		<main>
			<article class="content work">
				<h1>{{ page.title }}</h1>
				<img class="hero" src="{{ page.thumbnail }}" alt="{{ page.title }}" />
        			<p>{{ page.description }}</p>
				
				{{ page.content }}
				
				{% if page.link %}
					<p>
						<a href="{{ page.link }}" title="Visit {{ page.title }}" target="_blank">Visit {{ page.title }}</a>
					</p>
				{% endif %}
			</article>
			<footer>
				{% include footer.html %}
			</footer>
		</main>
	</body>
</html>
